[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
ruff = "*"
sqlalchemy-serializer = "*"
phonenumbers = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
dotenv = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
